body {
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin: 0px;
	overflow: hidden;
	background-color: black;
	color: white;
}

div.painter {
	float: left;
	margin: 0px;
	padding: 16px;
}

canvas.painter {
	background-color: #fff;
	width: 100%;
}

div.toolbox {
	width: 100%;
	background-color: black;
    display: table;
    display: table-row;
}

div.toolbox_label {
    margin: 0px;
	float: left;
	width: 50%;
	text-align: center;
}

input.toolbox_slider {
	margin: 0px;
	float: left;
	width: 50%;
}

input.hidden {
    position: absolute;
    left: -10000px;
}

div.toolbox_brush_size,
div.toolbox_opacity_selector,
div.toolbox_brush_selector,
div.toolbox_color_picker {
	float: left;
	margin: 0px;
	width: 50%;
}

input.color_indicator {
	float: left;
	width: 19.9%;
    max-width: 64px;
	border: 0;
	padding: 0;
}

button.file_tool,
button.brush_button,
button.color_picker {
	padding: 0px;
    margin: 0px;
	border: none;
	width: 10%;
    max-width: 32px;
    background-size: cover;
    border: 2px solid black;
    border-radius: 25%;
}

button.file_tool {
    float: right;
}

span.tooltip {
	width: 128px;
	visibility: hidden;
	display: block;
	overflow: visible;
	position: relative;
	bottom: 32px;
	font-size: 16px;
	border-radius: 8px;
	background: black;
	color: white;
	z-index: 1;
}

button:hover .tooltip {
	visibility: visible;
}

div.video_container {
	width: auto;
	overflow: hidden;
}

iframe.video {
	width: 100%;
	border: 0;
}
